#haut {
    display: flex;
    flex-direction: row;
}


#bouton-plugin {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#bouton {
    border: 0px;
    background: rgba(0,0,0,0);
    padding-top: 5px;
    padding-bottom: 3px;
}


#bouton:hover{
    background: rgba(0,0,0,0.2);
    border-radius: 10%;
}


#icone {
    border: 0px;
    height: 25px;
    width: 25px;
}

#croix-bouton{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#bouton-croix {
    border: 0px;
    background: rgba(255,0,0,1);
    border-radius: 10%;
    padding-top: 5px;
    padding-bottom: 3px;
}

#croix {
    border: 0px;
    height: 15px;
    width: 15px;
}

#plugin {
    /* we will toggle then the display of the end-menu */
    display: none;
    margin: 50px auto;
    width: 450px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1000;
}


#titre {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 50px;

    margin-top: 20px;
    margin-bottom: 20px;
}

#text {

    text-align: center;
}
#tit-princ {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 55px;
    font-family: 'Delicious Handrawn', cursive;
}

.tit {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    font-family: 'Delicious Handrawn', cursive;
}

.info {
    margin-top: 0px;
    margin-bottom: 25px;
    font-family: 'Fasthand', cursive;
}

#input-taille-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;

}

#input-type-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#plug-text {
    color: aliceblue;
}

#save-bouton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bouton-save {
    border: 0px;
    background: rgb(98, 159, 250);
    border-radius: 10%;
    padding-top: 5px;
    padding-bottom: 3px;
}

#sauvegarder {
    border: 0px;
    height: 20px;
    width: 20px;
}
